<style>
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10px = 1rem */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    background-image: url('{{ url(' storage/pylon-principal.jpg') }}');
}

.title-text {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 5rem;
    color: white;
}

.container-content {
    width: min(95%, 120rem);
    margin: 0 auto;
}

.center-content {
    width: min(95%, 80rem);
}

.box-shadow {
    background-image: linear-gradient(to bottom left, #52ffba 50%, #2571ff 50%);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    font-family: 'Protest Guerrilla', sans-serif;
}

.box,
.box2 {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    font-family: 'Protest Guerrilla', sans-serif;
}

.box {
    background-color: #2571ff;
}

.box2 {
    background-color: #52ffba;
}

/** Header **/

.header {
    background-color: #2571ff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    padding: .5rem 0;
    font-family: 'Protest Guerrilla', sans-serif;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-space {
    width: 100%;
    height: auto;
    margin-top: 5rem;
}

.text-space2 {
    position: relative;
    width: 100%;
    height: auto;
    right: 10rem;
}

.main-padding-top,
.pt {
    padding-top: 5rem;
}

@media (min-width: 768px) {
    .page-1 {
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 5rem;
    }
}

.container {
    display: flex;
}

.circle,
.circle2 {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #52ffbaad;
}

.circle2 {
    width: 250px;
    height: 250px;
    background-color: #2571ff75;
}

.box {
    background-color: #00000092;
    flex: 1;
    border: 1px solid #000;
    /* Añade bordes para visualizar las cajas */
    margin-right: 10px;
    /* Espacio entre las cajas */
}

.meta {
    text-align: center;
}

.left {
    margin-left: 7rem;
}

.right {
    margin-right: 7rem;
}

.flex-justify-start,
.flex-justify-end,
.flex-justify-center {
    display: flex;
    align-items: center;
    align-content: center;
}

.flex-justify-start {
    justify-content: start;
}

.flex-justify-end {
    justify-content: end;
}

.flex-justify-center {
    justify-content: center;
}

.meta-info,
.meta-info2 {
    color: #fff;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-blue {
    color: #2571ff;
}

.text-green {
    color: #52ffba;
}

.circle-title {
    font-size: 2.8rem;
}

.between {
    display: flex;
}

.background {
    width: 5%;
    height: auto;
}

.background p {
    padding: 2.4rem;
}

.background-color,
.background-color2 {
    width: 95%;
    height: auto;
}

.background-color {
    background-color: #52ffba;
}

.background-color2 {
    background-color: #2571ff;
}

.p1-5 {
    padding: 1.5rem;
}

.p2 {
    padding: 2rem;
}

.p3 {
    padding: 3rem;
}

.p5 {
    padding: 5rem;
}

.ms-1 {
    margin-left: 1rem;
}

.me-1 {
    margin-right: 1rem;
}

.pb-2 {
    padding-bottom: 5rem;
}

.pe-5 {
    padding-right: 5rem;
}

.ps-3 {
    padding-left: 3rem;
}

.ps-5 {
    padding-left: 5rem;
}

.bold {
    font-weight: 700;
}

.text-grey {
    color: #646464;
}

.table-container {
    width: 60%;
    height: auto;
    border-top-right-radius: 10rem;
    overflow: hidden;
}

.title-table {
    font-size: 2.8rem;
    font-weight: 900;
}

.body-size {
    font-size: 1.4rem;
}

.border-radius {
    width: 40%;
    height: auto;
    border-top-right-radius: 10rem;
}

table {
    border-collapse: collapse;
    border-color: #52ffba;
    border-spacing: 0;
}

.text-start {
    text-align: start;
}

.text-up {
    text-transform: uppercase;
}

.background-color3 {
    width: 95%;
    height: auto;
    background-color: rgb(223, 223, 223);
}

.background-color4 {
    background-color: rgb(223, 223, 223);
}

/* Opcional: Para evitar que las cajas se contraigan demasiado en pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        background-color: transparent;
    }

    .box {
        background-color: #2571ff;
        flex: 1;
        border: 1px solid #000;
        /* Añade bordes para visualizar las cajas */
        margin-right: 10px;
        /* Espacio entre las cajas */
    }

    .box {
        margin-right: 0;
        margin-bottom: .5rem;
    }
}
</style>
